
<div class="container">
    <mat-card style="width: 800px; margin: auto;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.249671459033!2d-76.7819426847148!3d18.013613089181945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edb3f4bef61cc99%3A0xdb7282a486d0eadd!2sAmber%20Group%20Limited!5e0!3m2!1sen!2sjm!4v1655842367144!5m2!1sen!2sjm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </mat-card>
    <mat-card style="width: 800px; margin: auto;">
        <mat-card-title>Contact Us</mat-card-title>
        <mat-card-subtitle>Use the Form Below for any questions or enquiries</mat-card-subtitle>
        <form action="" class="form">
            <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enquiry</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
              </mat-form-field>
        <mat-card-actions align="end">
            <button mat-button mat-raised-button color="primary">Submit</button>
        </mat-card-actions>
    </form>
    </mat-card>
</div>